/* h1{
    color: green;
    background-color: red;
    text-align: center;
    font-family: sans-serif;
} */
body {
  margin: 0px;
  padding: 0px;
  background-color: #EEE;
}
.menu{
    height: 60px;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
    padding-top: 15px;
}
.menu nav ul li{
    display: inline-block;
}
.menu nav ul li .nav{
    color: #000;
    text-decoration: none;
    margin-left: 25px;
}